.col-md-12{
    text-align: center !important;
    margin: 4% auto !important;
    margin-bottom: 0 !important;
    border:1px solid black !important;
}
.col-md-4{
    text-align: center !important;
    margin: 4% auto !important;
    border:1px solid black !important;
}